setuptools==59.5.0
spconv-cu111==2.1.25 # automatically installs cumm-cu111==0.2.9
numpy==1.23.4
open3d==0.13.0 #0.17.0
tensorboard==2.4.1 #2.9.1
tensorboard-plugin-wit==1.8.0
tensorboardX==2.6.2.2
wandb==0.13.1
matplotlib 
pandas==1.4.4 #2.0.3
plyfile==0.7.3 #0.9
# pyaml 
# pyopengl 
# PyQt5 
# pyqtgraph 
scipy==1.10.1 
scikit-learn==1.3.0 #1.2.2
tqdm
# PyMieScatt 
# pyquaternion
pccm==0.3.4
ccimport==0.3.7
h5py==3.6.0
ninja==1.10.2.3
llvmlite==0.41.1
numba==0.58.1
easydict==1.11
pyyaml #==6.0
scikit-image==0.21.0
SharedArray==3.1.0
werkzeug==2.2.3
hdbscan==0.8.33
urllib3==1.26.12
requests==2.28.1
einops
# pytorch-lightning==1.5.10
# setuptools==59.5.0


# Follow these steps


# conda create --name ssl_d python=3.8 -y
# pip install pip==22.1.2
# pip install -r requirements.txt
# conda install openblas-devel -c anaconda
# pip install torch==1.9.0+cu111 torchvision==0.10.0+cu111 -f https://download.pytorch.org/whl/torch_stable.html

# # Install MinkowskiEngine

# # Uncomment the following line to specify the cuda home. Make sure `$CUDA_HOME/nvcc --version` is 11.X
# export CUDA_HOME=/usr/local/cuda-11.1 
# pip install -U git+https://github.com/NVIDIA/MinkowskiEngine -v --no-deps --install-option="--blas_include_dirs=${CONDA_PREFIX}/include" --install-option="--blas=openblas"
# pip install -U git+https://github.com/NVIDIA/MinkowskiEngine -v --no-deps --install-option="--blas_include_dirs=${CONDA_PREFIX}/include" --install-option="--blas=openblas"
#
# python ./third_party/OpenPCDet/setup.py develop

# conda install -c conda-forge/label/gcc7 qhull
# conda install -c conda-forge -c davidcaron pclpy

#pip uninstall setuptools #for disutils version error
#pip uninstall setuptools==59.5.0
#pip install nuscenes-devkit
